html {
  box-sizing: border-box;
}

#tap-overlay {
  position: fixed;
  inset: 0;
  background-color: #FFE066;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;
}

.tap-content {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.tap-content p:first-child {
  font-size: 5rem;
  margin: 0 0 16px;
}

.tap-content p:last-child {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.05em;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.container div.six {
  top: 10vh;
  z-index: 1;
}

.container div.seven,
.container div.eight {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.one > img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 3rem;
}

.four .text-box {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #333;
  background-color: #FFE066;
  padding: 5px 8px;
  border-radius: 3px;
}

.five p {
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 6%;
  box-sizing: border-box;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.five .idea-5 {
  font-size: 1.3rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

.six {
  position: relative;
}

.six img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.three .nyasha-flowers {
  display: block;
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.extra-photo {
  display: block;
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
}

.photo-caption {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 12px 0 0;
  padding: 0 6%;
}

.main-photo-wrapper {
  position: relative;
  display: inline-block;
}

.six .lydia-dp {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.six .hat {
  position: absolute;
  width: 80px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.baloons img {
  display: inline-block;
  position: absolute;
}

.baloons img:nth-child(even) {
  left: -10%;
}

.baloons img:nth-child(odd) {
  right: -10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.eight svg {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

.eight svg:nth-child(1) {
  top: 7vh;
  left: 5vw;
  fill: #FFE066;
}

.eight svg:nth-child(2) {
  top: 23vh;
  left: 35vw;
  fill: #FFD54F;
}

.eight svg:nth-child(3) {
  top: 33vh;
  left: 23vw;
  fill: #FFF176;
}

.eight svg:nth-child(4) {
  top: 43vh;
  left: 57vw;
  fill: #FFCC02;
}

.eight svg:nth-child(5) {
  top: 68vh;
  left: 7vw;
  fill: #F9A825;
}

.eight svg:nth-child(6) {
  top: 42vh;
  left: 77vw;
  fill: #FDD835;
}

.eight svg:nth-child(7) {
  top: 68vh;
  left: 83vw;
  fill: #FFEE58;
}

.eight svg:nth-child(8) {
  top: 86vh;
  left: 37vw;
  fill: #FFB300;
}

.eight svg:nth-child(9) {
  top: 94vh;
  left: 87vw;
  fill: #FFE066;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
}

.wish h5 {
  font-weight: lighter;
  font-size: 0.95rem;
  margin: 10px 0 0;
  line-height: 1.6;
  padding: 0 5%;
}

.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

#replay {
  z-index: 3;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .four .text-box {
    width: 90%;
  }

  .text-box .fake-btn {
    right: 5px;
    bottom: -38px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six .lydia-dp {
    width: 130px;
    height: 130px;
  }

  .six .hat {
    width: 50px;
    top: -20px;
  }

  .wish-hbd {
    font-size: 2.2em;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}
